* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'IBMPlexRegular';
  src: url('./fonts/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: 'IBMPlexExtraLight';
  src: url('./fonts/IBMPlexSans-ExtraLight.ttf');
}
@font-face {
  font-family: 'IBMPlexExtraLightItalic';
  src: url('./fonts/IBMPlexSans-ExtraLightItalic.ttf');
}

body {
  background: black;
  color: white;
  font-size: 18px;
  font-family: 'IBMPlexRegular';
}
.italic {
  font-family: 'IBMPlexExtraLightItalic';
}
.main-container {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 10rem;
  height: 10rem;
}
.header form input {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 0 1rem;
}
.header form span {
  font-size: 2rem;
  margin: 0 0.5rem;
}
.header form button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 1px solid gray;
  cursor: pointer;
  margin-left: 2rem;
  font-size: 1.5rem;
  background: rgb(177, 177, 177);
}

.timer-container {
  font-size: 4rem;
  font-family: 'IBMPlexExtraLight';
}
.clock {
  font-size: 10rem;
}

.timer-and-social-networks-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.social-networks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-networks-container > div {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.social-networks-container a {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.social-networks-container img {
  width: 4rem;
  height: 4rem;
}
